<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <script src="libs/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="factory.js"></script>
    <script src="controller.js"></script>
</head>

<body ng-app="mymodule">


    <div ng-controller="electionsCtr">

        {{electionHeading}}
        <div>

        </div>

        <button ng-click="findnow()"> Load Elections List</button>

        <ul>
            <li ng-repeat="election in result|filter:search">
                {{election.id}} {{election.name}} </li>
        </ul>



    </div>

</body>

</html>
